Tests/Fixtures/TestProject/var
/vendor/

# tmp etc
.DS_Store
Thumbs.db

#ide
/.idea/
/nbproject/

# friendsofphp/php-cs-fixer
/.php-cs-fixer.php
/.php-cs-fixer.cache

# phpunit/phpunit
/phpunit.xml
.phpunit.result.cache
